@media (min-width: 1900px) {
    .section-rooms__cards{
        width: 70%;
    }
    .section-rooms__card{
        margin-top: 4rem;
    }
}
@media (max-width: 1400px){
    .page-main, .page-header {
        width: 90%;
    }
    .section-rooms__card-text-wrap{
        padding-right: 0.4rem;
    }
    .section-rooms__icon{
        margin: 0 0.4rem 0 0.4rem;
    }
    .section-rooms__icon--catbed{
        margin-left: 0.7rem;
    }
}