.section-rooms__cards{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.section-rooms__card{
    border: 1px solid $gray;
    border-radius: 0.6rem;
    margin-top: 2rem;
    max-width: 27.2rem;
}
.section-rooms__card-text-wrap{
    padding: 1.5rem 0rem 2rem 2rem;
}
.section-rooms__card-text-wrap > p, .section-rooms__inventory-icon-wrap p {
    margin-top: 1rem;
}
.section-rooms__card-heading{
    font-size: 2rem;
    font-weight: bold;
}
.section-rooms_price-tag{
    font-size: 1.8rem;
    margin-left: 0.8rem;
}
.section-rooms__btn--booking{
    padding: 1.4rem 8rem 1.4rem 6rem;
    margin-top: 2rem;
    background-color: $orange;
    color: white;
    position: relative;
    &::after{
        content: "";
        background: url(../../src/img/svg/section-rooms__btn--booking-paw.svg) no-repeat;
        position: absolute;
        top: 50%;
        right: 3%;
        width: 3.4rem;
        height: 3.4rem;
        transform: translateY(-50%);
    }
    &:active{
        background-color: #F05B1B;
    }
}
.section-rooms__inventory-icon-wrap{
    display: flex;
    align-items: flex-end;
}
.section-rooms__icon{
    margin: 0 0.5rem 0 0.5rem;
    width: 1.6rem;
    height: 1.6rem;
}
.section-rooms__icon--empty{
    background: url(../../src/img/svg/inventory-icons/empty.svg) no-repeat;
    margin-left: 0.8rem;
}
.section-rooms__icon--catbed{
    background: url(../../src/img/svg/inventory-icons/catbed.svg) no-repeat;
    height: 1.2rem;
    margin-left: 1rem;
    padding: 0.7rem;
}
.section-rooms__icon--scratcher{
    background: url(../../src/img/svg/inventory-icons/scratcher.svg) no-repeat;
    width: 1.4rem;
}
.section-rooms__icon--cat-tree{
    background: url(../../src/img/svg/inventory-icons/cat-tree.svg) no-repeat;
}
.section-rooms__icon--house{
    background: url(../../src/img/svg/inventory-icons/house.svg) no-repeat;
}