:root{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 62.5%; // equals to 1rem to 10px
}
*, ::before, ::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

// Variables
$orange: #FF7236;
$yellow: #FAC663;
$fontColor: #1A212F;
$headerColor: #151B28;
$gray: #E1E1E1;

body {
    color: $fontColor;
    p {
        font-size: 1.4rem;
    }
}

@import 'header';
@import 'section-rooms';
@import 'section-rooms__cards';
@import 'section-rooms__options';
@import 'adaptive';